form {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  form > h2 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  form > input {
    font-size: 1.5em;
    margin: 0.4em;
  }
  form > button {
    margin-top: 4px;
    font-size: 1.2em;
    width: 15em;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 8px;
  }
  
  form > input:hover {
    background-color: ghostwhite;
  }
  
  input:focus{
      outline: none;
  }